@import '../vars.css';

.container {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-top: 1px solid var(--color-border);
  background-color: var(--color-background);
  box-shadow: rgba(9, 30, 66, 0.08) 0px -1px 4px;
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.compose {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-right: 10px;
  background-color: var(--color-background);
  border-radius: 24px;
  height: 100%;
}

.input {
  border: none;
  height: 14px;
  line-height: 14px;
  font-size: 1.4rem;
  width: 100%;
  outline: none;
  border-radius: 24px;
  background-color: var(--color-background);
  resize: none;
  white-space: normal;
}

.send {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 24px;
  cursor: pointer;
}
