.container {
  width: 100%;
  height: 56px;
  background-color: #fff;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 4px 0;
  box-shadow: 0 1px 4px 0 rgba(9, 30, 66, 0.08);
  z-index: 10;
}

.inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 12px;
}

.conv {
  flex: 1 0;
  display: flex;
  align-items: center;
  padding-left: 22px;
}

.closeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.convName {
  font-size: 1.6rem;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 150%;
  right: 50%;
  width: 200px;
  z-index: 10;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(122, 134, 154, 0.2) 0px 6px 12px 0px;
  padding: 10px 20px;
  overflow: none;
  color: var(--color-text-1);
}

.menuVisible {
  display: flex;
  flex-direction: column;
}

.menuHidden {
  display: none;
}

.menuItem {
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 100px;
}

.menuItem:hover {
  background-color: var(--color-background-chat);
}

.menuIcon {
}

.menuText {
}

@media screen and (min-width: 768px) {
  .closeIcon {
    display: none;
  }
}
