.container {
  width: 100%;
  height: 56px;
  background-color: #fff;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 4px 0;
  box-shadow: 0 1px 4px 0 rgba(9, 30, 66, 0.08);
  z-index: 10;
}

.inner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.conv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 22px;
}

.closeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.convName {
  font-size: 1.6rem;
}
