.messageBlock {
  width: 100%;
  padding: 10px 0;
}

.inner {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.innerSent {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
}

.author {
  height: 100%;
  width: 32px;
  margin-right: 8px;
}

.authorName {
  font-size: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #7e7e7e;
}

.authorNameSent {
  font-size: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  color: rgb(230, 223, 230);
}

.authorSent {
  height: 100%;
  width: 32px;
  margin-left: 8px;
}

.authorInner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.avatar {
  height: 100%;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-color: rgb(28, 201, 186);
}

.date {
  text-align: center;
  font-size: 10px;
  width: 100%;
  padding-top: 4px;
  color: rgb(88, 88, 88);
  font-weight: 500;
}

.textWrapper {
  height: 100%;
  max-width: 420px;
  border-radius: 0 12px 12px 12px;
  background-color: #f2f5f9;
  color: rgb(75, 75, 75);
  padding: 14px;
}

.textWrapperSent {
  height: 100%;
  max-width: 420px;
  border-radius: 12px 0 12px 12px;
  background-color: blueviolet;
  color: white;
  padding: 14px;
}

.text {
  height: 100%;
}

.textSent {
  height: 100%;
}
