.messageBlock {
  width: 100%;
  padding: 10px 0;
}

.inner {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.avatar {
  height: 100%;
}

.textWrapper {
  height: 100%;
  max-width: 420px;
  border-radius: 0 12px 12px 12px;
  background-color: #f2f5f9;
  padding: 14px;
}

.text {
  height: 100%;
}
