@import '../vars.css';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-chat);
}

.text {
  color: var(--color-text-2);
}
